sm-tassie-e4591e32eeab.json
private_key.env
.ipynb_checkpoints
__pycache__
output
weather_data
model
scalerAU.save
scalerTAS.save
scaler1.save
model_apr
log
static_raster
SMAP
chunk.ipynb
prep.py
readjust.R
RainPrediction24hr_202309090900AEST.tif
raster_stack.tif
rawSM_lstmTL_op55447.tif